{% extends "login/base.html" %}
{% block title %}Share a post{% endblock %}

{% block content %}

<table border="1">
    <caption>Демо таблица</caption>
    <tr >
        <th height="20px" width="200px"></th>
        <th height="20px" width="200px"></th>
        
    </tr>
    <tr>
        <th height="20px" width="200px"></th>
        <th height="20px" width="200px"></th>
    </tr>
    <tr>
        <th height="20px" width="200px"></th>
        <th height="20px" width="200px"></th>
    </tr>
    <tr>
        <th height="20px" width="200px"></th>
        <th height="20px" width="200px"></th>
    </tr>
    <tr>
        <th height="20px" width="200px"></th>
        <th height="20px" width="200px"></th>
    </tr>
    <tr>
        <th height="20px" width="200px"></th>
        <th height="20px" width="200px"></th>
    </tr>
</table>

{% endblock %}